/.DS_Store

.DS_Store

*/.idea/

*.iml

OWLCompare/.idea/

GenerateCDISC/out/*


OWLCompare/classes/

ProtegeKBQA/config/drugeditors.dat

GenerateCDISC/generatecdisc.properties

GenerateCDISC/generatecdisc.xml

OWLKb/owlkb.properties

OWLKb/owlkb.xml

OWLDisjoint/out/
